@model WebTraining.Web.Models.ProdutoVM

@{
    ViewBag.Title = "Adicionar";
}

<ol class="alert alert-info text-info">
    <li><a href="@Url.Action("Index")">Produtos</a></li>
    <li>Adicionar</li>
</ol>

<hr/>

<h2>Adicionar</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-3 col-md-2">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-3 col-md-2">
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GrupoProduto_Id, htmlAttributes: new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-3 col-md-2">
                @Html.DropDownListFor(model => model.GrupoProduto, Model.GruposProdutos, "Selecione", new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.GrupoProduto_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
