@model WebTraining.Web.Models.ProdutoVM

@{
    ViewBag.Title = "Editar";
}

<h2>Produto</h2>

<ol class="breadcrumb alert alert-info">
    <li><a href="@Url.Action("Index")">Produtos</a></li>
    <li>Editar</li>
</ol>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-3 col-md-2">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-3 col-md-2">
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GrupoProduto_Id, htmlAttributes: new { @class = "control-label col-sm-3 col-md-2" })
            <div class="col-sm-3 col-md-2">
                @Html.DropDownListFor(model => model.GrupoProduto_Id, Model.GruposProdutos, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GrupoProduto_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3 col-md-4 text-right">
                <input type="submit" value="Confirmar" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

<hr />

<div class="alert alert-info text-right">
    <a href="@Url.Action("Index")"><i class="glyphicon glyphicon-arrow-left"></i> Voltar a lista</a>
</div>
